

:root {
    --text-color: #696969;
    --policy-color: #c4c4c4;
    --burger-menu: #34495E;
    --cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --white-blue: #F0F8F6;
    --title-color: #212121;
    --browser-color: #EFEFEF;
    --main-color: #01A3A4;
    --gradient-blue: linear-gradient(141deg, #74E6CF 0%, #C0E594 100%);
    --scrollbar-blue: #74E6CF;
}

@mixin mobile {
    @media screen and (max-width: 41.625rem) {
        @content;
    }
};


@mixin tablet {
    @media screen and (min-width: 41.626rem) and (max-width: 199.9rem) {
        @content;
    }
};

@mixin maxtablet {
    @media screen and (max-width: 87.9rem) {
        @content;
    }
};

@mixin mindesktop {
    @media screen and (min-width: 80rem) {
        @content;
    }
};

@mixin desktop {
    @media screen and (min-width: 120rem) {
        @content
    }
};

* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 6.25rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: var(--text-color);
    background-color: #fff;
}

.no-scroll {
    height: 100vh;
    overflow: hidden;
}


h1, h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-align: center;
    text-transform: uppercase;

    color: #000;
}

h3 {
    font-family: "Advent Pro", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    
    color: #000;
}

header {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;

    background-color: #fff;

    @include mobile {
        padding-bottom: 0.31rem;
    }
}

.gray-block {
    @include mobile {
        height: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--browser-color);
    }
    @include tablet {
        display: none;
    }
    @include desktop {
        display: none;
    }
}

.gray-block > span {
    display: none;
    @include mobile {
        display: block;
        color: #C4C4C4;
        font-family: Bebas Neue;
        font-size: 0.8125rem;
        font-weight: 700;
        letter-spacing: 0.04063rem;
    }
}

.header > .container {
        display: flex;
        justify-content: center;
}

.container {
    margin: 0 auto;

    @include mobile {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @include tablet {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @include desktop {
        padding-left: 22rem;
        padding-right: 22rem;
    }
    // @media screen and (min-width: 1280px) {
    //     width: 1280px;
    // }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}


address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.is-hidden-button {
    opacity: 0;
    backface-visibility: hidden;
    position: absolute;
    pointer-events: none;
    transform: rotate(180deg);
}

.is-hidden {
    opacity: 0;
    backface-visibility: hidden;
    position: absolute;
    pointer-events: none;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {

    text-align: center;
    font-family: Bebas Neue;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;

    border: none;
    color: #fff;
    background-color: var(--main-color);
    border-radius: 3.125rem;

    transition: color 500ms var(--cubic), background-color 500ms var(--cubic);

    &:hover, &:focus {
        color: var(--white-blue);
        background-color: var(--scrollbar-blue);
    }
}

.header__logo-wrap {
    @include tablet {
        display: none;
    }
    @include desktop {
        display: none;
    }
}

.container > .header-wrap {
    display: flex;
    align-items: center;

    @include mobile {
        justify-content: space-between;
    }
    @include desktop {
        justify-content: center;
    }
}

.header-wrap {
    padding-top: 0.31rem;
}

.header-wrap > .nav {
    @include mobile {
        display: none;
    }
}
.nav {
    @include tablet {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6.25rem;
    }
    @include desktop {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6.25rem;
    }
}
.nav__list {
        display: flex;
        gap: 6.25rem;
    @include mobile {
        display: none;
    }
    @include tablet {

    }
    @include desktop {
        display: flex;
        gap: 6.25rem;
    }
}
.nav-list__item {
}
.nav-list__link {
}
.nav__logo {
    @include mobile {
        display: none;
    }
    @include tablet {
        padding: 1.25rem 0;
    }
    @include desktop {
        padding: 1.25rem 0;
    }
}
.nav-logo__picture {
}
.nav-logo__source {
}
.nav-logo__img {
}
.nav-list__item-link {
        font-family: Bebas Neue;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.075rem;

    color: var(--title-color);
    
    transition: color 500ms var(--cubic);

    &::after {
        content: "";
        display: block;
        height: 3px;
        width: 100%;
        background-color: var(--scrollbar-blue);
        transform: scaleX(0);

        border-radius: 50%;

        transition: transform 500ms var(--cubic);

}

    &:hover, &:focus {
        color: var(--main-color);
        &::after { 
            transform: scaleX(1);
        }
    }
}
.header__button-wrap {
        display: inherit;
        border: none;
        background-color: transparent;
        color: var(--burger-menu);

        transition: color 250ms var(--cubic);

        &:hover, &:focus {
            color: #000;
        }
        @include tablet {
            display: none;
        }
    @include desktop {
        display: none;
    }
}
.menu-open {

        border: none;
    background-color: transparent;
    color: var(--burger-menu);

    transition: color 250ms var(--cubic);

    &:hover, &:focus {
        color: #000;
    }
    }

.menu-open__icon {
    fill: currentColor;
}
.menu-close {
        border: none;
        background-color: transparent;
        color: var(--burger-menu);

        transition: color 250ms var(--cubic), transform 500ms var(--cubic), opacity 500ms var(--cubic);

        &:hover, &:focus {
            color: #000;
        }
}
.mob-menu {
    position: fixed;
    top: 6.2rem;
    z-index: 2;
    width: 100vw;
    height: 100vh;

    background-color: var(--white-blue);

    transition: color 250ms var(--cubic), transform 500ms var(--cubic), opacity 500ms ease-in-out;

    @include tablet {
        display: none;
    }
    @include desktop {
        display: none;
    }
}
.mob-menu__gray-block {
    margin-top: 3.1rem;
    height: 3rem;
}
.mob-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mob-menu__modal {
    position: relative;
    margin-top: 2.5rem;

    display: grid;
    place-content: center;
    color: var(--white-blue);
}
.mob-menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.56rem;
}
.mob-menu__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}
.mob-menu__item-link {
    font-family: Bebas Neue;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.0625rem;

    color: var(--title-color);

    transition: color 500ms var(--cubic);

    &::after {
        content: "";
        display: block;
        height: 3px;
        width: 100%;
        background-color: var(--scrollbar-blue);
        transform: scaleX(0);

        border-radius: 50%;

        transition: transform 500ms var(--cubic);

}

    &:hover, &:focus {
        color: var(--main-color);
        &::after { 
            transform: scaleX(1);
        }
    }
}
.mob-absolute__bagel {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(250%, 350%);
    width: 2rem;
    height: 2rem;
}
.mob-absolute__blue-bagel {
    position: absolute;
    bottom: 50%;
    right: 50%;
    z-index: -1;
    transform: translate(110%, 150%);
    width: 11.4375rem;
    height: 11.4375rem;

}
.svg-wrap {
}
.reusable-line {
    width: 52px;
    height: 9px;
}
.hero {
    background: var(--2, linear-gradient(159deg, #FECA57 0%, #E3AA2D 100%));
    padding-top: 1rem;
    padding-bottom: 1.4rem;

    @include maxtablet {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }


    @include mindesktop {
        padding-top: 3rem;
        padding-bottom: 0;
    }
}

.hero > .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
        padding-left: 0;
        padding-right: 0;
    }
}
.hero-title {
    position: relative;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    color: var(--title-color);

    @include tablet {
        font-size: 4rem;
        letter-spacing: 0.2rem;
    }
    @include desktop {
        font-size: 6rem;
        letter-spacing: 0.3rem;
    }
}

.hero-title__abs--absolute {
    position: absolute;
        bottom: 50%;
        right: 50%;
    @include mobile {
        display: none;
    }
    @include tablet {
        display: none;
    }
    @include desktop {
        display: block;
        transform: translate(120%, -390%);
    }
}

.hero-title__abs--absolute2 {

    @include mobile {
        display: none;
    }
    @include tablet {
        display: none;
    }
    @include desktop {
        display: block;
        transform: translate(120%, 60%);
    }
}

.hero-title__mob {
    @include desktop {
        display: none;
    }
}
.hero-title--styled {
    text-transform: none;
    text-align: center;
    font-family: Galada;
    font-size: 1.625rem;
    font-weight: 400;
    color: #FFF;

    @include tablet {
        font-size: 3rem;
    }
    @include desktop {
        font-size: 4.5rem;
    }
}

.hero__absolute {
}
.hero__main-picture {
}
.hero__main-source {
}
.hero__main-img {
    position: relative;
}


.hero__button {

    padding: 1.19rem 6.44rem 1.06rem 6.44rem;

    @include tablet {
        padding: 1.38rem 5.69rem 1.19rem 5.62rem;
    }

    @include desktop {
        padding: 1.38rem 6rem 1.19rem 6rem;
    }

}

.hero__scroll {
    display: none;
    @include mobile {
        display: none;
    }
    @include mindesktop {
        margin-right: 60.88rem;
        margin-bottom: 3.9rem;
        display: flex;
        align-items: center;
        gap: 1.25rem;

        color: #FFF;
        font-size: 0.875rem;
        font-weight: 700;
        letter-spacing: 0.21875rem;
        text-transform: uppercase;

        transform: rotate(-90deg);

        &::before {
            content: "";
            display: block;
            width: 3.125rem;
            height: 0.125rem;
            background-color: currentColor;
        }
    }  
}
.works {
    @include mobile {
        padding-top: 3.12rem;
        padding-bottom: 1.88rem;
    }
    @include tablet {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    @include desktop {
        padding-top: 6.25rem;
        padding-bottom: 6.25rem;
    }
}

.works > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works-title {
    text-align: center;
    margin-bottom: 1.81rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: none;

    @include tablet {
        margin-bottom: 1.19rem;
        font-size: 2rem;
    }
    @include desktop {
        margin-bottom: 1.19rem;
        font-size: 3rem;
    }
}
.works-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include tablet {
        flex-direction: row;
        gap: 8rem;
    }

    @include desktop {
        flex-direction: row;
        gap: 11.69rem;
    }
}
.works-list__item {
    position: relative;
}

.works-list__item--gradient-border {
    @include mobile {
        border-bottom: 1px solid;
        border-image: var(--gradient-blue) 1;
    }
}
.works-list__absolute {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.works-list__item-picture {
}
.works-list__item-source {
}
.works-list__item-img {
}
.works-list__item-title {
    margin-top: 1.88rem;
    
    font-family: Advent Pro;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.05625rem;

    color: #000;

    @include tablet {
        margin-top: 2rem;
    }
    @include desktop {
        margin-top: 2.5rem;
    }
}
.works-list__item-text {
    margin-top: 0.5rem;
    margin-bottom: 2rem;

    text-align: center;

    @include tablet {
        margin-top: 1rem;
        margin-bottom: 2.5rem;
    }
    @include desktop {
        margin-top: 1.25rem;
        margin-bottom: 3.12rem;
    }
}
.works-list__svg-wrap {
    display: flex;
    justify-content: center;
}

.works-line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 595%);
    padding: 0.5rem 3rem;

    background-color: #fff;

    @include tablet {
        display: none;
    }
    @include desktop {
        display: none;
    }
}

.works__button {
    padding: 1.19rem 6.16rem 1.06rem 6.16rem;
    
}

.works__button-flex {
        display: flex;
        justify-content: center;
}
.month {
    position: relative;
    background-color: var(--white-blue);

    @include mobile {
        padding-top: 3.12rem;
        padding-bottom: 1.88rem;
    }
    @include tablet {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    @include desktop {
        padding-top: 6.25rem;
        padding-bottom: 6.25rem;
    }
}
.month > .container {
    @include tablet {
        display: flex;
        justify-content: center;
        gap: 3rem;
    }
    @include desktop {
        display: flex;
        justify-content: center;
        gap: 6.25rem;
    }
}
.month__svg-wrap {
    display: none;
    @include mobile {
        display: flex;
        justify-content: center;
    }

    @include tablet {

    }
}
.month-title {
    @include mobile {
        text-align: center;
        margin-top: 1.25rem;
    }
    @include tablet {
        display: none;
    }
    @include desktop {
        display: none;
    }
}
.month-text {
    @include mobile {
        text-align: center;
        margin-top: 0.5rem;
        margin-bottom: 1.06rem;
    }
    @include tablet {
        display: none;
    }
    @include desktop {
        display: none;
    }
}
.month__desk-wrap {
    @include mobile {
        display: none;
    }
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.88rem;
}


.month-title__desk-wrap {
    position: relative;
    margin-left: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.25rem;
}

.month__desk-embed {
    position: absolute;
    z-index: 1;

    @include mobile {
        display: none;
    }

    @include tablet {
        display: none;
    }

    @include desktop {
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-195%, -58%);
    }
}
.month-list {
    display: flex;
    gap: 0.5rem;
}
.month-list__item {
    position: relative;
}
.month-absolute__light-ellipse {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(110%, 290%);

    @include tablet {
        display: none;
    }
    @include desktop {
        display: block;
        transform: translate(200%, 500%);
    }
}
.month-absolute__blue-ellipse {
    position: absolute;
        right: 50%;
        bottom: 50%;
    @include mobile {
        transform: translate(200%, 350%);
    }
    @include tablet {
        display: none;
    }
    @include desktop {
        display: block;
        transform: translate(330%, 600%);
    }
}
.month__desk-embed {
    position: absolute;
}
.month-list__picture-wrap {
}
.month-list__item-picture {
}
.month-list__item-source {
}
.month-list__item-img {

}
.month__button-wrap {
    @include mobile {
        display: flex;
        justify-content: center;
    }
}
.month-button {
    display: none;
    @include mobile {
        display: grid;
        place-content: center;
        margin-top: 1.25rem;
        padding: 1.19rem 4.75rem 1.06rem 4.69rem;
    }
}
.month__desk-button {
    @include mobile {
        display: none;
    }
    padding: 1.38rem 3.62rem 1.19rem 3.56rem;
}
.month__leaf-wrap {
    position: relative;
}
.month__abs-leaf  {
    @include mobile {
        display: none;
    }
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(352deg) translate(50%, -20%);

}
.mission {
    padding-top: 3.38rem;
    padding-bottom: 1.88rem;
}
.mission__svg-wrap {
    display: flex;
    justify-content: center;
}
.mission-text {
    margin-top: 0.62rem;
    
    text-align: center;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.075rem;
    text-transform: uppercase;

    color: var(--main-color);
}
.mission-title {
    margin-top: 1.25rem;

    line-height: 1;
}
.mission-title-smaller {
}
.mission__image-wrap {
    display: flex;
    justify-content: center;
}
.mission__picture {
}
.mission__source {
}
.mission__img {
}
.recent {
    padding-top: 3.12rem;
    padding-bottom: 1.88rem;
    background-color: var(--white-blue);
}
.recent__text {
    text-align: center;

    font-family: "Roboto";
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.075rem;
    text-transform: uppercase;

    color: var(--main-color);
}
.recent__title {
    margin-top: 0.62rem;
}
.recent-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.recent-list__item {
}
.recent-list__absolute {
}
.recent-list__item-picture {
}
.recent-list__item-source {
}
.recent-list__item-img {
}
.blog {
    padding-top: 3.12rem;
    padding-bottom: 1.88rem;
}

.blog__card {
    border: 1px solid var(--white-blue);
}
.blog__text-wrap {
    padding: 1.88rem 1.56rem 1.56rem 1.56rem;
}
.blog-title {
    margin-bottom: 1.19rem;
}
.blog-title-smaller {
    margin-bottom: 1.12rem;

    font-family: Advent Pro, sans-serif;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 0.05625rem;

    color: #000;
}
.blog__svg-wrap {
    display: flex;
    justify-content: center;
}
.blog__plus-wrap {
    margin-left: 0.31rem;
    padding: 0.25rem 0.45rem 0.25rem 0.45rem;

    background: linear-gradient(297deg, #74E6CF 0%, #C0E594 100%);
    border-radius: 50%;
}
.blog-text {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;

    text-align: center;
}
.blog__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    padding: 0.5rem 0.35rem 0.5rem 0.62rem;

    font-family: Roboto, sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.0375rem;
    text-transform: uppercase;

    color: var(--main-color);
    background-color: var(--white-blue);

    border: none;
    border-radius: 3.125rem;

    transition: color 500ms var(--cubic), background-color 500ms var(--cubic);

    &:hover, &:focus {
        color: var(--white-blue);
        background-color: var(--main-color);
    }
}
.blog__lines-list {
    margin-top: 1.56rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}
.blog__lines-item {
    width: 4.13rem;
    height: 0.13rem;

    background-color: var(--white-blue);

    &:first-child {
        background: var(--gradient-blue);
    }
}
.blog__image-wrap {
}
.blog__picture {
}
.blog__source {
}
.blog__img {
}
.inbox {
    padding-top: 3.12rem;
    padding-bottom: 1.88rem;
    background-color: var(--white-blue);
}
.inbox__svg-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 0.62rem;
}
.inbox-text {
    text-align: center;
    margin-bottom: 1.25rem;
}
.inbox-title-smaller {
}
.inbox__image-wrap {
}
.inbox__images-picture {
}
.inbox__images-source {
}
.inbox-title {
    color: var(--title-color);
}

.inbox-title > span {
    color: var(--main-color);
}
.inbox-input {
    margin-top: 0.62rem;
    margin-bottom: 1.25rem;
    padding: 1.25rem 6rem 1.19rem 1rem;

    border: 1px solid linear-gradient(141deg, #74E6CF 0%, #C0E594 100%);

    &::placeholder {
        color: #C4C4C4;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
    }
}
.inbox-button {
    margin-bottom: 0.62rem;
    padding: 1.06rem 7.25rem;
}
.inbox__policy-text {
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;       
    color: var(--policy-color);     
}
.clients {
    padding-top: 3.12rem;
    padding-bottom: 1.88rem;
}
.clients-text {
    margin-bottom: 0.62rem;

    text-align: center;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.075rem;
    text-transform: uppercase;

    color: var(--main-color);
}
.clients-title {
    margin-bottom: 1.56rem;
}
.clients-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.clients-card__subcard {
    margin-bottom: 0.62rem;
    padding: 0 3rem;
    position: relative;
    display: flex;
    gap: 0.62rem;
}
.clients-subcard__quotes-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-250%, -100%);
    z-index: -2;

}
.clients-card__subcard-info {

}
.clients-card__subcard-rating {
    display: flex;
    gap: 0.31rem;
}
.quotes-icon {
}
.clients-card__image-wrap > img {
    border-radius: 50%;
}
.clients-card__picture {
}
.clients-card__source {
}
.clients-card__img {
}
.card-username {
    color: #000;
}
.card-list {
    display: flex;
    gap: 0.1rem;
}
.card-list__item {
}
.card-list__star-icon {
}
.clients-subcard__span-wrap {
}
.clients__svg-wrap {
    display: flex;
    justify-content: center;
}
.clients-card__text-wrap {
    margin-bottom: 0.19rem;
    position: relative;

    height: 250px;
    margin-top: 0.94rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    

    overflow: auto;

    &::-webkit-scrollbar {
    width: 0.5rem;
}

&::-webkit-scrollbar-track {
    background-color: var(--scrollbar-blue);
  box-shadow: inset 0 0 5px #dddddd;
  border-radius: 4px;
  border-left: 0.2rem solid white;
  border-right: 0.2rem solid white;
}

&::-webkit-scrollbar-thumb {
    background: var(--gradient-blue);
    border-radius: 1rem;
}
   


    // &::before {
    // content:'';
    //     width: 100%;
    // transform: translate(0, -250%);
    // height: 40px;
    // right: 0;
    // background: linear-gradient(to bottom, rgba(251, 251, 251, 1) 0%, rgba(251, 251, 251, 0) 100%);

    // }

    // &::after {
    // content:'';
    // width: 100%;
    // transform: translate(0, 280%);
    // height: 40px;
    // right: 0;
    // background: linear-gradient(to top, rgba(251, 251, 251, 1) 0%, rgba(251, 251, 251, 0) 100%);
    // }
 }
.clients-card__text {
}
.clients-card__buttons-list {
    display: flex;
    gap: 0.62rem;
}
.buttons-list__item {
    padding: 0.25rem;
    border-radius: 3.125rem;
background: #F0F8F6;
}
.buttons-list__item-button {
    padding: 0.34rem 0.34rem 0.34rem 0.34rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 3.125rem;
    background: linear-gradient(297deg, transparent 0%, #C0E594 100%);
    color: #fff;
    background-color: var(--scrollbar-blue);

    border: none;

    transition: color 500ms var(--cubic), background-color 500ms var(--cubic);

    &:hover, &:focus {
        color: var(--white-blue);
        background-color: var(--main-color);
    }
}
.card-list2__arrow-icon {
    fill: currentColor;
}

.contacts {
    padding-top: 1.94rem;
    padding-bottom: 1.31rem;

    border: 0.0625rem solid var(--white-blue);
}
.contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.88rem;
}
.contacts__image-wrap {
}
.contacts__image-link {
}
.contacts__picture {
}
.contacts__source {
}
.contacts__logo {
}
.contacts-nav {
}
.contacts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}
.contacts-list__item {

}
.contacts-list__item-link {
    
    font-family: Bebas Neue;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.05rem;

    color: var(--title-color);

    transition: color 250ms var(--cubic);
   
    &:hover, &:focus {
        color: var(--main-color);
    }
}
.contacts-list2 {
    display: flex;
    column-gap: 1.25rem;
}
.contacts-list2__item {
}
.contacts-list2__item-link {
    color: var(--main-color);
    transition: color 250ms var(--cubic);
    &:hover, &:focus {
        color: var(--scrollbar-blue);
    }
}

.contacts-list2__svg-wrap {
    fill: currentColor;
}
.footer {
    padding-top: 1.12rem;
    padding-bottom: 1.19rem;
}

.footer-container {
    display: flex;
    align-items: center;

}
.footer-year {
    & > p {
    font-size: 0.6875rem;
    font-weight: 400;
    }
}
.footer-by {
    & > p {
    font-size: 0.6875rem;
    font-weight: 400;
    }
}
.footer__svg-wrap {
    color: var(--text-color);
    transition: color 250ms var(--cubic);
    &:hover, &:focus {
        color: var(--title-color);
    }
}
.footer-icon {
    fill: currentColor;
}
.backdrop {
}
.modal {
}



